In [1]:
import pandas as pd
df = pd.read_csv('ml-latest-small/ratings.csv')

In [2]:
# 查看数据的前几行
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# 查看形状
df.shape

(100836, 4)

In [4]:
# 查看列名
df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [5]:
# 查看索引列
df.index

RangeIndex(start=0, stop=100836, step=1)

In [6]:
# 查看每列的数据类型
df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

## 读取TXT文件，自己指定分隔符和列名

In [7]:
data = pd.read_csv('crazyant/mydata.txt',sep='\t',header=None,names=['padate','pv','uv'])

In [8]:
data.head()

       padate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98

In [9]:
myxls = pd.read_excel('crazyant/mydata.xlsx')
myxls.head()

          日期   pv   uv
0 2019-09-10  139   92
1 2019-09-09  185  153
2 2019-09-08  123   59
3 2019-09-07   65   40
4 2019-09-06  157   98

In [10]:
s1 = pd.Series([0,3,1,'a'])
s1.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
s1.values

array([0, 3, 1, 'a'], dtype=object)

In [12]:
s2 = pd.Series([0,3,1,'a'],index=['a','b','c','d'])
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
s3 = pd.Series({'a':0,'b':'f'})
s3.index

Index(['a', 'b'], dtype='object')

In [14]:
s1[1]

3

In [15]:
s3['a']

0

In [16]:
s3[['b','a']]   # 可获取多个值

b    f
a    0
dtype: object

In [17]:
type(s3[['b','a']]) # 还是series

pandas.core.series.Series

In [18]:
df_dic = {
    'province':['浙江','江苏'],
    'capital':['杭州','南京']
}

pdf = pd.DataFrame(df_dic)
pdf

  province capital
0       浙江      杭州
1       江苏      南京

In [19]:
pdf.dtypes

province    object
capital     object
dtype: object

## 查一列，返回series

In [20]:
pdf['province']

0    浙江
1    江苏
Name: province, dtype: object

In [21]:
type(pdf['province'])

pandas.core.series.Series

## 查多行，返回dataframe

In [22]:
pdf[['province','capital']]

  province capital
0       浙江      杭州
1       江苏      南京

In [23]:
type(pdf[['province','capital']])

pandas.core.frame.DataFrame

# 查一行

In [24]:
pdf.loc[0]

province    浙江
capital     杭州
Name: 0, dtype: object

# 查多行，切片会包含最后一个元素

In [25]:
pdf.loc[0:1]

  province capital
0       浙江      杭州
1       江苏      南京

# 条件查询

In [27]:
pdf[pdf['province'] == '浙江']

  province capital
0       浙江      杭州

and：&，or：|